@font-face {
    font-family: 'StylishMarker';
    src: url('../assets/fonts/StylishMarker-OXYo.ttf') format('truetype');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-family: 'StylishMarker';
    background-color: #999;
}

#menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}

button {
    font-family: 'StylishMarker';
    font-size: 1.5em;
    font-weight: bold;

    padding: 0.75rem 1rem;
    outline: none;
    background: url('../assets/images/Omlette.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: lighten;
    
    border: 1px lightblue solid;
    border-radius: 10px 10px 0 0;
}

.pressed{
    background: url('../assets/images/Fried_egg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}

#page-content-container {
    flex: 1 1 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(400px, 0.5fr));
    place-content: center;
    gap: 10px;
    font-size: 1.5rem;
}

.category {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 0.75rem;
}

.pageItems {
    background-color: #333;
    color: white;
    padding: 1rem;
}

h1,
h2,
h3,
p {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    gap: 0.25rem;
}

h1 {
    font-size: 2.75em;
    background-color: #333;
    color: lightblue;
    margin-bottom: 25px;
}

h2 {
    font-size: 2.0em;
    background-color: #333;
    color: lightgreen;
    padding-top: 0.5rem;
}

h3 {
    font-size: 1.75em;
    color: lightpink;
}

p {
    font-size: 1.4em;
}

h4 {
    font-size: 1.25em;
    padding-left: 50px;
    color: orange;
}


